@import "tailwindcss";

:root {
  --primary-color: #0abd6c;
  --secondary-color: #20d885;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Fjerner scrollbaren */
body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Dette fjerner chrome sin bakgrunnsfarge på autocomplete valg for inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* NAVBAR */
.navbar {
  color: #000000;
  width: calc(100% - 32px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  margin: 16px;
}


body {
    background-image: url("https://picsum.photos/1920/1080");
    /*background-image: url("/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-animasjon {
  display: block;
  overflow: hidden;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  /* gjennomsiktig */
  /*backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  /* Safari */
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px ;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-top {
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: relative;
  
}

.navbar-top-logo-svg {
  height:40px;
}

.navbar-links {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 20px;
  gap: 10px;
  font-weight: 300;
  font-size: 1rem;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.1);
}

.navbar-links.active {
  font-weight: 600;
}

.navbar-divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  transform-origin: left;
  margin: 0 20px;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-logo span {
  font-weight: 600;
}

/* Login */

.form-container {
  padding: 0 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.input-container input {
  outline: 1px solid grey;
  padding: 12px 40px;
  width: 100%;
  border-radius: 10px;
  font-size: 14px;
  font-family: Verdana;
  color: #000000;
  background-color: white;
}

.input-container input::placeholder {
  letter-spacing: 1px;
  padding-left: 2px;
  color: rgb(155, 155, 155);
}

.input-container input[type="password"] {
 letter-spacing: 1px;
}

.input-container input:focus {
  outline: 1px solid rgb(56, 56, 56);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.logginn-btn {
  background-color: rgb(0, 110, 255);
  width: clamp(200px, 50%, 250px);
  margin: 0 auto;
  padding: 10px;
  color: white;
  border-radius: 25px;
  box-shadow: 0 8px 10px #959da533;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.logginn-btn:focus {
  outline: none;
}

.form-no-bruker {
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.form-no-bruker a {
  color: rgb(0, 119, 255);
  text-decoration: underline;
}

.form-container .radio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
  height: 40px;
}

.form-container .radio-container div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
}