@import "tailwindcss";

:root {
  --primary-color: #0abd6c;
  --secondary-color: #20d885;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Fjerner scrollbaren */
body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Dette fjerner chrome sin bakgrunnsfarge på autocomplete valg for inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* NAVBAR */
.navbar {
  color: #000000;
  width: calc(100% - 32px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  margin: 16px;
}

/* 
body {
    background-image: url("https://picsum.photos/1920/1080");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
}
*/

.navbar-animasjon {
  display: block;
  overflow: hidden;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  /* gjennomsiktig */
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  /* Safari */
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px ;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-top {
  display: flex;
  height: 56px;
  align-items: center;
  padding: 0 16px;
  position: relative;
}

.navbar-links {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 20px;
  gap: 10px;
  font-weight: 300;
  font-size: 1rem;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.1);
}

.navbar-links.active {
  font-weight: 600;
}

.navbar-divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  transform-origin: left;
  margin: 0 20px;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-logo span {
  font-weight: 600;
}