/* @import "tailwindcss"; */

#root {
  overflow: hidden;
  padding-bottom: 50px;
}

input, button, select, textarea {
  outline: none;
  border: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  appearance: auto;
  -webkit-appearance: auto;
}

:root {
  --primary-color: #006EFF;
  --secondary-color: #d2e1f5;
  --mint-green: #279A74;
  --mint-green-shadow: #279a745e;
  --grey-text: #71847E;
  --bg-almost-white:#F7F7F7;
  --bg-darker-almost-white: #F1F3F2;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Fjerner scrollbaren */
body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Dette fjerner chrome sin bakgrunnsfarge på autocomplete valg for inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Generell margin class */

.margin-klassen {
  margin: 16px 32px;
}

body {
/*     background-image: url("./assets/alex-padurariu-iNmouRApXYM-unsplash_large.jpg"); */
/*     background-image: url("./assets/BG_app.png"); */
    /*background-image: url("/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");*/
    /* Link til bilde på unsplash for credits https://unsplash.com/photos/clear-glass-jar-on-gray-wooden-table-iNmouRApXYM */
/*     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: var(--bg-almost-white);
}

/* NAVBAR */
.navbar {
  color: #000000;
  width: calc(100% - 32px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  margin: 16px;
}

.navbar-animasjon {
  display: block;
  overflow: hidden;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px ;
  border: 2px solid rgba(255, 255, 255, 0.2);
  touch-action: none;
}

.navbar-top {
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: relative;
  
}

.navbar-top-logo-svg {
  height:40px;
}

.navbar-links {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 20px;
  gap: 10px;
  font-weight: 300;
  font-size: 1rem;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.1);
}

.navbar-links.active {
  font-weight: 600;
}

.navbar-links.logout-btn {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.navbar-divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  transform-origin: left;
  margin: 0 20px;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    -webkit-user-select: none;
}

.navbar-logo span {
  font-weight: 600;
}

/* Login */

.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input-container {
  position: relative;
  width: clamp(200px, 100%, 380px);
  margin: 0 auto;
}

.input-wrapper {
  position: relative;
}

.input-container label {
  font-size: 0.8rem;
  display: block;
  padding-bottom: 5px;
  color: #444444;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.input-container input {
  outline: 1px solid rgb(224, 224, 224);
  padding: 12px 42px;
  width: 100%;
  border-radius: 10px;
  font-size: 14px;
  /* font-family: Verdana; */
  color: #444444;
  background-color: white;
  line-height: 1.2;
}

.input-container input::placeholder {
  letter-spacing: 1px;
  padding-left: 2px;
  color: rgb(155, 155, 155);
}

.input-container input[type="password"] {
 letter-spacing: 1px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field,
input[type="time"]::-webkit-datetime-edit-text,
input[type="time"]::-webkit-datetime-edit-hours-field,
input[type="time"]::-webkit-datetime-edit-minutes-field {
   color: rgb(155, 155, 155);
}

input[type="date"]:not([value=""])::-webkit-datetime-edit-month-field,
input[type="date"]:not([value=""])::-webkit-datetime-edit-day-field,
input[type="date"]:not([value=""])::-webkit-datetime-edit-year-field,
input[type="time"]:not([value=""])::-webkit-datetime-edit-hours-field,
input[type="time"]:not([value=""])::-webkit-datetime-edit-minutes-field {
  color: #444444;
}

.input-container input:focus,
.input-container select:focus {
  outline: 1px solid rgb(56, 56, 56);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.input-container select {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 12px 42px;
  border-radius: 10px;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  outline: 1px solid rgb(224, 224, 224);
  color: rgb(155, 155, 155);
}

.input-container select.has-value {
  color: #444444;; /* svart når noe er valgt */
}

.input-container select option {
  color: #444444;;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
}

.logginn-btn {
  background-color: rgb(0, 110, 255);
  width: clamp(200px, 50%, 250px);
  margin: 0 auto;
  padding: 10px;
  color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
/*   transition: transform 0.1s ease; */
}

.logginn-btn:focus {
  outline: none;
}

.logginn-btn:active{
  transform: scale(0.95);
}

.form-no-bruker {
  font-size: 12px;
  color: var(--grey-text);
  text-align: center;
}

.form-no-bruker a {
  color: rgb(0, 119, 255);
  text-decoration: underline;
}

.form-container .radio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
  height: 40px;
}

.form-container .radio-container div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--grey-text);
  font-family: "Poppins", sans-serif;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* Card component */

.card-container {
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  margin: 16px auto;
  padding: 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  position: relative;
  backdrop-filter: blur(20px);
}

.card-image {
  position: absolute;
  right: -80px;
  top: -20px;
  max-height: 290px;
  width: auto; 
  object-fit: cover;
}

.graphic-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.graphic-container .box {
  position: absolute;
  width: 900px;
  height: 200px;
  background-color: #0687ff2f;
/*   backdrop-filter: blur(10px); */
  bottom: -100px;
  right: -400px;
  border-radius: 25px;
  transform: rotate(-20deg);
}

.card-title-small {
  text-transform: uppercase;
  font-family: "poppins", "sans-serif";
  font-weight: 00;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--primary-color);
}

.card-undertitle-large {
  font-size: 20px;
  width: 70%;
  letter-spacing: 2px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1.2;
}

.icon-container {
  position: absolute;
  right: 16px;
  top: 16px;
}

.card-text {
  font-size: 12px;
  color: rgb(24, 24, 24);
  width: 70%;
  font-weight: 300;
  margin: 16px 0;
  letter-spacing: 0.05em;
}

.card-btn {
  background-color: rgb(0, 110, 255);
  width: clamp(200px, 50%, 250px);
  margin: 0 auto;
  padding: 10px;
  color: white;
  border-radius: 25px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  transition: transform 0.1s ease;
  position: relative;
}

.card-btn:focus {
  outline: none;
}

.card-btn:active{
  transform: scale(0.95);
}

/* ProfileCard */

.profile-container {
background-color: rgb(255, 255, 255);
width: clamp(200px, 100%, 500px);
margin: 1rem auto;
height: 180px;
border-radius: 10px 10px 10px 10px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
display: grid;
grid-template-columns: 35% 65%;
/* overflow: hidden; */
transition: box-shadow 0.3s ease;
}

.profilbilde-wrapper {
  height: 100%;
    border-radius: 10px 0px 0px 10px;
 
}

.profilbilde-bakgrunn {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 10px 0px 0px 10px;
}

.profil-innhold {
  padding: 1rem;
  position: relative;
}

.profil-brukernavn {
  font-size: 16px;
  font-weight: 700;
}

.profil-typebehandler {
  color: var(--mint-green);
  text-transform: capitalize;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.profil-om {
  font-size: 10px;
}

.profil-forhåndsvisning {
  color :var(--grey-text);
  margin: 16px auto;
  gap: 10px;
  font-size: 20px;
  text-align: center;
}

.profil-forhåndsvisning span {
  font-family: "Caveat", cursive;
  font-size: 26px;
}

.profil-valgt {
  background-color: var(--mint-green);
  color: white;
  padding: 4px 20px;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 20px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: scale(1);
  transition: opacity .3s ease, transform .3s ease;
}

.profil-valgt-hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
}

.rounded-info-box {
  background-color: var(--secondary-color);
  margin: 1rem auto 0 auto;
  border-radius: 50px;
  padding: 4px 20px;
  font-size: 0.7rem;
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: .5px;
  width: fit-content;
  text-align: center;
}

.mySwiper.locked .swiper-pagination {
  opacity: 0;
  pointer-events: none;
}

.swiper-pagination-bullet {
/*   width: 9px !important;
  height: 9px !important; */
  transform: scale(1);
  transition: transform 0.3s ease;
}

.swiper-pagination-bullet-active {
  transform: scale(1.3);
}

/* .mySwiper .swiper-slide {
  transform: scale(0.8) !important;
  transition: transform 0.25s ease !important;
}

.mySwiper .swiper-slide-active {
  transform: scale(1) !important;
} */

/* Kalender */

.kalender-container {
  margin: 1rem auto;
  width: 320px;
}

.kalender-month-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.kalender-icon-wrapper {
  display: flex;
  padding: 20px;
  transition: background-color .3s ease;
  cursor: pointer;

}

.kalender-icon-wrapper:hover {
  background-color: var(--bg-darker-almost-white);
}

.kalender-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  user-select: none;
}

.kalender-grid div {
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 5px; 
}

.kalender-celler-null {
    background-color: rgb(241, 241, 241);
}

.kalender-celler-datoer {
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.kalender-dager {
  font-weight: 600;
}

.kalender-grid div.valgt {
  background-color: black;
  color: white;
}

.kalender-formatert-dato {
  text-align: center;
  font-weight: 600;
}